*{
    margin:0;
    padding:0;
}

/* ------------FONDO Y TEXTO DE TODO EL FORMULARIO --------------- */
body {
    box-sizing: border-box;
    background: url(fondo_pagina_web.jpg) center top 50px;
    background-size: 100%;
    /* No se repita la imagen  */
    background-repeat: no-repeat;
    font-family: 'Noto Sans', sans-serif;

}

/* -----------COLOR DE CABECERA Y PADDING--------- */
header {
    background: #173f9c;
    padding: 20px ;
}

/* ----- LETRAS DE CABECERA---- */
.header a {
    color: #00c3ff;
    text-decoration: none;
}

/* ------------POSICIÓN DE BOTONES DE LA CABECERA------ */
.logo_nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* ----------Quita el estilo tipo lista  ----------*/
.enlaces_de_navegacion ul {
    list-style: none;

}
/* ---colocar un boton uno al lado del otro ------ */
.enlaces_de_navegacion ul li {
    display: inline-block;

}

/* ---estilo al seleccionar uno de los botones del header--- */
.enlaces_de_navegacion ul li a {

    border-radius: 3px;
    padding: 9px;

  }

.enlaces_de_navegacion ul li a:hover {
    background-color: #477ebd;

}


/* ---------------ESTILOS DEL FORMULARIO------------------- */

h1 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #173f9c;
    
}
/* -------- caja que cubre todo el formulario--------- */
#registro_de_formulario {
    
    background: #ffffff;
    width: 21.5%;
    padding: 2.8em;
    /* margin:auto; */
    /* margin: 20px 0px 30px 550px; */
    margin: 4% 0% 6% 64%;
    /* margin-top: 1.7em;
    margin-right: 30%;
    margin-left: 64%; */
    text-align: left;
    border-radius: 0.6em;
    box-shadow: 0 0 20em rgb(42, 78, 175);
    

}
/* ------caja de los elementos del formulario------ */
.grupo_contenido_formulario {
    width: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    
}
/* -------titulo de los inputs el label------- */
.registro_de_formulario label {
    color:#173f9c;
    font-size: 1.1em;
    font-weight: 610;
}
/* ---------------inputs---------------------- */


.ingreso_datos {
    border:2px solid #c5c8e9;
    height:40px;
    background:#c5c8e9;
    font-size: 0.9em;
    font-weight: 6em;
    border-radius: 0.4em;
    color: #000000;
    box-shadow: 0em 0em 8em 0.8em rgb(72, 172, 238);
    padding: 0px 20px 0px 0px ;
    width:15em;
    outline:none;
}


.formulario_input-error {
    font-size: 12px;
	margin-bottom: 15px;
    padding: 0px;
	display: none;
    width:20em;
    color: #ca2924;
 
}

.formulario_input-error-activo {
	display: block;
}
/* --------estilo de boton de validación ------ */
.validation_button 

    {
        background-color: #173f9c; /* blue */
        border-radius: 0.5em;
        border:1.5px solid rgb(72, 172, 238);
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;

      }

.validation_button:hover {
    background-color: rgb(72, 172, 238);
}

/* -----------------POPUP PARA LA VENTANA EMERGENTE DE LA VALIDACIÓN--------------- */

.overlay {
    background: rgba(0,0,0,.3);
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    display:flex;
    align-items: center;
    justify-content: center;
    visibility:hidden;
}

.overlay.active {
    visibility:visible;

}

.mostrar_validacion {
    background: #ffffff;
    box-shadow:0px 0px 5px 0px rgba(0,0, 0,0.3);
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    width: 270px;

}

.btn-submit {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: rgb(42, 78, 175);
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    text-align: center;
}

.btn-submit:hover {
    background: #00c3ff;;
}

/* --------------------FOOTER------------------------- */

footer {
 
    background:rgb(42, 78, 175);
    height: auto;
    padding-top: 40px;
    color: #ffffff;

}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.social {
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em 0 0.5em 0;
}

.social li{
    margin: 0 10px;

}
.social a{
    color:#ffffff;
}

.social a i{
    font-size:1.8em;
    transition: color .4s ease;
}

.social a:hover i{
    color:#00c3ff;
}
/* -------el copyright del footer ----- */
.footer-bottom {
    background-color: rgb(17, 43, 114);
    /* width: 100vw; */
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}
/* ---PARA LA VALIDACION DE LOS INPUTS----- */

.formulario_grupo_correcto label {
    color: #1ed12d;
    opacity:1;
}

.formulario_grupo_correcto .ingreso_datos {
    border:2px solid #1ed12d; 
    }


.formulario_grupo_incorrecto label {
    color: #df0808;

}
.formulario_grupo_incorrecto .ingreso_datos {
    border:2px solid #ca2924; 
}